In [1]:
#Import the dependencies
import pandas as pd
import gmaps
import requests

#Import the API key
from config import g_key

In [2]:
#Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-04-08 01:56:50,-54.8000,-68.3000,46.40,87,75,3.44
1,1,Atuona,PF,2021-04-08 01:56:50,-9.8000,-139.0333,80.83,73,7,14.45
2,2,Hajnowka,PL,2021-04-08 01:56:11,52.7433,23.5812,28.99,81,98,3.00
3,3,Yellowknife,CA,2021-04-08 01:56:51,62.4560,-114.3525,17.60,86,90,11.50
4,4,Lethem,GY,2021-04-08 01:56:51,3.3803,-59.7968,74.62,90,100,6.55

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key.
gmaps.configure(api_key = g_key)

In [10]:
    #Heatmap of temperature
    #Get the latitude and longitude

    locations = city_data_df[['Lat','Lng']]

    #Get the maximum temperature
    max_temp = city_data_df['Max Temp']
      
    #Assign the figure variable.
    fig = gmaps.figure(center = (30,31),zoom_level = 1.5)

    #Assign the heatmap variable
    heat_layer = gmaps.heatmap_layer(locations,weights=[max(temp,0) for temp in max_temp],dissipating = False, max_intensity = 300, point_radius = 4)

    #Add the heatmap layer
    fig.add_layer(heat_layer)

    #Call the figure to plot the data
    fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Heatmap of percent humidity
locations = city_data_df[['Lat','Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30,31),zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
#Heatmap of percent cloudiness
locations = city_data_df[['Lat','Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30,31),zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=clouds,dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#Heatmap of wind speed
locations = city_data_df[['Lat','Lng']]
winds = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30,31),zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=winds,dissipating=False,max_intensity=300,point_radius=4)

fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip?'))
max_temp = float(input('What is the maximum temperature you would like for your trip?'))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [15]:
#Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp']>=75)&(city_data_df['Max Temp']<=90)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Atuona,PF,2021-04-08 01:56:50,-9.8000,-139.0333,80.83,73,7,14.45
7,7,Trincomalee,LK,2021-04-08 01:56:52,8.5711,81.2335,78.62,80,55,5.50
14,14,Hilo,US,2021-04-08 01:56:54,19.7297,-155.0900,77.00,57,20,12.66
15,15,Rikitea,PF,2021-04-08 01:56:55,-23.1203,-134.9692,77.27,61,0,7.90
16,16,Hithadhoo,MV,2021-04-08 01:56:55,-0.6000,73.0833,83.17,64,56,10.42
18,18,Anaco,VE,2021-04-08 01:56:56,9.4389,-64.4728,81.28,64,89,9.80
28,28,Butaritari,KI,2021-04-08 01:57:00,3.0707,172.7902,81.46,78,100,13.80
30,30,Vaini,TO,2021-04-08 01:57:01,-21.2000,-175.2000,80.60,69,20,9.22
32,32,Talikota,IN,2021-04-08 01:57:02,16.4833,76.3167,86.63,33,83,9.71
39,39,Redlands,US,2021-04-08 01:54:58,34.0556,-117.1825,78.80,31,75,12.66

In [16]:
preferred_cities_df.count()

City_ID       163
City          163
Country       163
Date          163
Lat           163
Lng           163
Max Temp      163
Humidity      163
Cloudiness    163
Wind Speed    163
dtype: int64

In [17]:
#Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City','Country','Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1        Atuona      PF     80.83  -9.8000 -139.0333
7   Trincomalee      LK     78.62   8.5711   81.2335
14         Hilo      US     77.00  19.7297 -155.0900
15      Rikitea      PF     77.27 -23.1203 -134.9692
16    Hithadhoo      MV     83.17  -0.6000   73.0833
18        Anaco      VE     81.28   9.4389  -64.4728
28   Butaritari      KI     81.46   3.0707  172.7902
30        Vaini      TO     80.60 -21.2000 -175.2000
32     Talikota      IN     86.63  16.4833   76.3167
39     Redlands      US     78.80  34.0556 -117.1825

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [32]:
hotel_df.head()

           City Country  Max Temp      Lat       Lng           Hotel Name
1        Atuona      PF     80.83  -9.8000 -139.0333          Villa Enata
7   Trincomalee      LK     78.62   8.5711   81.2335       Welcombe Hotel
14         Hilo      US     77.00  19.7297 -155.0900  Hilo Hawaiian Hotel
15      Rikitea      PF     77.27 -23.1203 -134.9692       Pension Maro'i
16    Hithadhoo      MV     83.17  -0.6000   73.0833    Scoop Guest House

In [34]:
#Add a heatmap of temperature for the vacation spots and marker for each city
locations = hotel_df[['Lat','Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30,31),zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,max_intensity=300,point_radius=4)
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = '''
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
'''

In [39]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))