## Deliverable 2. Create a Customer Travel Destinations Map.

In [36]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [34]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv('../Weather_Database/WeatherPy_Database.csv')

In [35]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
user_min_temp = float(input('Enter your minimum temperature '))
user_max_temp = float(input('Enter your maximum temperature '))

Enter your minimum temperature 70
Enter your maximum temperature 90

In [16]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
## Filter city_data_df using input statements
filtered_df = city_data_df.loc[(city_data_df['Max Temp'] >=user_min_temp)&(city_data_df['Max Temp'] <=user_max_temp)]
filtered_df.head()

,Unnamed: 0,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,rikitea,PF,-23.1203,-134.9692,78.33,72,2,9.35,clear sky
5,5,pitimbu,BR,-7.4706,-34.8086,78.80,100,75,8.05,broken clouds
7,7,arraial do cabo,BR,-22.9661,-42.0278,84.20,47,0,18.41,clear sky
10,10,jamestown,US,42.0970,-79.2353,71.60,40,1,9.22,clear sky
13,13,geraldton,AU,-28.7667,114.6000,77.00,47,90,23.02,overcast clouds

In [25]:
# 4a. Determine if there are any empty rows.
filtered_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                6
Lat                    0
Lon                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [27]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df = filtered_df.dropna()
clean_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                0
Lat                    0
Lon                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lon"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
3,rikitea,PF,78.33,clear sky,-23.1203,-134.9692,
5,pitimbu,BR,78.80,broken clouds,-7.4706,-34.8086,
7,arraial do cabo,BR,84.20,clear sky,-22.9661,-42.0278,
10,jamestown,US,71.60,clear sky,42.0970,-79.2353,
13,geraldton,AU,77.00,overcast clouds,-28.7667,114.6000,
19,atuona,PF,80.40,light rain,-9.8000,-139.0333,
20,rock sound,BS,75.45,broken clouds,24.9000,-76.2000,
21,albany,US,73.00,clear sky,42.6001,-73.9662,
22,butaritari,KI,81.05,light rain,3.0707,172.7902,
26,san patricio,US,82.40,clear sky,28.0170,-97.5169,

In [39]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lon = row['Lon']
    
     # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lon}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url,params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index,'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [46]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
3,rikitea,PF,78.33,clear sky,-23.1203,-134.9692,Pension Maro'i
5,pitimbu,BR,78.80,broken clouds,-7.4706,-34.8086,Reserva do AbiaÃ­
7,arraial do cabo,BR,84.20,clear sky,-22.9661,-42.0278,Pousada Porto Praia
10,jamestown,US,71.60,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
13,geraldton,AU,77.00,overcast clouds,-28.7667,114.6000,Broadwater Mariner Resort

In [50]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lon,Hotel Name
3,rikitea,PF,78.33,clear sky,-23.1203,-134.9692,Pension Maro'i
5,pitimbu,BR,78.80,broken clouds,-7.4706,-34.8086,Reserva do AbiaÃ­
7,arraial do cabo,BR,84.20,clear sky,-22.9661,-42.0278,Pousada Porto Praia
10,jamestown,US,71.60,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
13,geraldton,AU,77.00,overcast clouds,-28.7667,114.6000,Broadwater Mariner Resort

In [54]:
# 8a. Create the output File (CSV
output_data_file = '../Vacation_Search/WeatherPy_vacation.csv'

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [57]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lon"]]

In [58]:
# 11a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lon"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))